################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/FoodaryRewardsAPI/FoodaryRewardsAPI/bin/Debug/netcoreapp2.1
/FoodaryRewardsAPI/FoodaryRewardsAPI/obj
/FoodaryRewardsAPI/RewardsDataContract/bin/Debug/netcoreapp2.1
/FoodaryRewardsAPI/RewardsDataContract/obj
/.vs
/FoodaryRewardsAPI/.vs
/FoodaryRewardsAPI/Rewards.Data/obj
/FoodaryRewardsAPI/Rewards.Data/bin/Debug/netcoreapp2.1
/FoodaryRewardsAPI/Rewards.Business/bin/Debug/netcoreapp2.1
/FoodaryRewardsAPI/Rewards.Business/obj
/FoodaryRewardsAPI/Rewards.Business.Tests/bin/Debug/netcoreapp2.1
/FoodaryRewardsAPI/Rewards.Business.Tests/obj
